/* Estilos padrão para quando o menu está fechado */
.container {
  display: flex;
}

.content {
  margin-top: 50px;
  flex: 1;
  display: flex;
  justify-content: center; /* Centraliza os retângulos horizontalmente */
  padding: 0 60px; /* Adiciona espaço interno nas laterais */
}

.row-content {
  display: flex;
  justify-content: space-between; /* Distribui os retângulos igualmente com espaço entre eles */
  align-items: center; /* Alinha os retângulos verticalmente */
  width: 100%; /* Ocupa toda a largura disponível */
}

.Rectangle {
  width: 330px; /* Largura inicial dos retângulos */
  height: 150px; /* Altura padrão dos retângulos */
  background: #1E646E;
  border-radius: 20px;
  display: flex;
  margin-right: 40px;
  margin-left: -30px;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  transition: width 0.3s ease; /* Transição suave apenas para largura */
}

/* Estilos adicionais para quando o menu está aberto */
.menu-aberto .Rectangle {
  width: 300px; /* Largura ajustada dos retângulos quando o menu está aberto */
}

.menu-aberto .row-content {
  margin-left: 30px; /* Ajuste de margem esquerda quando o menu está aberto */
  margin-right: 40px;
}
