
.chart-container {
  width: 80%;
  margin: 50px auto 20px; /* Adiciona margem de 50px acima e 20px abaixo, e centraliza o container horizontalmente */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente os dados do gráfico */
  align-items: center; /* Centraliza verticalmente os dados do gráfico */
}
