.Rectangle {
    margin-top: 30px;
    width: 319.55px;
    height: 122.39px;
    background:  #1E646E ;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin-left: auto; /* Move o elemento para o centro */
    margin-right: auto; /* Move o elemento para o centro */
  }
  