/* OrderList.css */

.order-list {
    width: 95%;
    margin: 50px auto 20px;
    overflow-x: auto;
  }
  
  .order-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .order-table th,
  .order-table td {
    padding: 8px;
    text-align: left;
  }
  
  .order-table th {
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .order-table th:hover {
    background-color: #e2e2e2;
  }
  
  .order-table th svg {
    margin-left: 5px;
  }
  