.menu {
    width: 200px;
    height: 100%;
    background: linear-gradient(180deg, #1E646E 45%, #002C2F 100%);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: width 0.5s ease; /* Ajuste aqui */
    border-right: 1px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 120px 0 0 0;
    text-align: left;
    opacity: calc(1 - ((200px - var(--menu-width)) / 150));
    transition: opacity 0.7s ease;
  }
  
  .menu ul li {
    padding: 15px 0;
    margin-left: 45px;
    text-align: left;
    margin-top: 10px;
    opacity: 0;
    animation: tracking-in-expand-fwd 0.5s forwards;
  }
  
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #002C2F;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .menu.fechado ul {
    opacity: 0;
    transition-delay: 0.5s;
  }
  
  .menu.aberto ul {
    opacity: 0;
  }
  
  .menu.aberto ul {
    transition-delay: s;
  }
  
  .menu.fechado {
    width: 50px; /* Largura quando fechado */
    transition: width 0.5s ease; /* Ajuste aqui */
  }
  
  .botao-recolher {
    margin: 20px auto;
    margin-top: 15px;
    margin-left: 80%;
    color: #002C2F
  }
  
  .botao-expandir {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #002C2F
  }
  
  .oculto {
    display: none;
  }
  
  .menu.aberto {
    width: 200px;
  }
  
  .menu.fechado {
    width: 50px;
  }
  
  @keyframes slide-left-in {
    from {
      transform: translateX(-200px);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-left-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-200px);
    }
  }
  
  .menu.slide-in {
    animation: slide-left-in 0.5s ease forwards;
  }
  
  .menu.slide-out {
    animation: slide-left-out 0.5s ease forwards;
  }
  
  .menu li .icone-chart {
    margin-right: 12px;
    margin-left: -2px;
    transition: color 0.3s ease;
  }
  
  .menu li .icone-database {
    margin-right: 13px;
    margin-left: 1px;
    transition: color 0.3s ease;
  }
  
  .menu li .icone-brain {
    margin-right: 11px;
    transition: color 0.3s ease;
  }
  
  .menu li .icone-cog {
    margin-right: 10px;
    transition: color 0.3s ease;
  }
  
  .menu li:hover .icone {
    color: #ffffff;
  }
  
  .content {
    margin-left: 200px; /* Margem padrão quando o menu está aberto */
    transition: margin-left 0.5s ease; /* Adiciona uma transição suave para a margem */
    padding: 20px; /* Adiciona preenchimento para afastar o conteúdo das bordas */
  }
  
  /* Estilos CSS quando o menu está fechado */
  .menu.fechado + .content {
    margin-left: 50px; /* Margem menor quando o menu está fechado */
  }